<!DOCTYPE html>
<html lang="en">
<head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">
    
        <title>TMSR Documents - 熔盐泵实验平台文档管理系统</title>
    
        <!-- Bootstrap Core CSS -->
       
        <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    
        <!-- MetisMenu CSS -->
        <link href="/dist/css/bootstrap-table.css" rel="stylesheet">
        <link href="/vendor/metisMenu/metisMenu.min.css" rel="stylesheet">
    
        <link href="/vendor/datatables-plugins/dataTables.bootstrap.css" rel="stylesheet">
    
        <!-- DataTables Responsive CSS -->
        <link href="/vendor/datatables-responsive/dataTables.responsive.css" rel="stylesheet">
    
        <!-- Custom CSS -->
        <link href="/dist/css/sb-admin-2.css" rel="stylesheet">
    
        <!-- Morris Charts CSS -->
        <link href="/vendor/morrisjs/morris.css" rel="stylesheet">
    
        <!-- Custom Fonts -->
        <link href="/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
      
</head>
<body ng-app="myApp" ng-controller="myCtrl">
    <div id="wrapper">
         <!-- Navigation -->
         <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="">TMSR Documents v2.0</a>
                </div>
                <!-- /.navbar-header -->
    
                <ul class="nav navbar-top-links navbar-right">
                    <!-- /.dropdown -->
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            <i class="fa fa-tasks fa-fw"></i> <i class="fa fa-caret-down"></i>
                        </a>
                        <ul class="dropdown-menu dropdown-tasks">
                            <li>
                                <a href="#">
                                    <div>
                                        <p>
                                            <strong>LF1 堆物理</strong>
                                            <span class="pull-right text-muted">100% Complete</span>
                                        </p>
                                        <div class="progress progress-striped active">
                                            <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
                                                <span class="sr-only">100% Complete (success)</span>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li class="divider"></li>
                            <li>
                                <a href="#">
                                    <div>
                                        <p>
                                            <strong>安全分析</strong>
                                            <span class="pull-right text-muted">20% Complete</span>
                                        </p>
                                        <div class="progress progress-striped active">
                                            <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width: 20%">
                                                <span class="sr-only">20% Complete</span>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li class="divider"></li>
                            <li>
                                <a href="#">
                                    <div>
                                        <p>
                                            <strong>堆本体</strong>
                                            <span class="pull-right text-muted">60% Complete</span>
                                        </p>
                                        <div class="progress progress-striped active">
                                            <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%">
                                                <span class="sr-only">60% Complete (warning)</span>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li class="divider"></li>
                            <li>
                                <a href="#">
                                    <div>
                                        <p>
                                            <strong>熔盐回路</strong>
                                            <span class="pull-right text-muted">80% Complete</span>
                                        </p>
                                        <div class="progress progress-striped active">
                                            <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%">
                                                <span class="sr-only">80% Complete (danger)</span>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li class="divider"></li>
                            <li>
                                <a class="text-center" href="#">
                                    <strong>See All Tasks</strong>
                                    <i class="fa fa-angle-right"></i>
                                </a>
                            </li>
                        </ul>
                        <!-- /.dropdown-tasks -->
                    </li>
                    <!-- /.dropdown -->
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            <i class="fa fa-bell fa-fw"></i> <i class="fa fa-caret-down"></i>
                        </a>
                        <ul class="dropdown-menu dropdown-alerts">
                            <li>
                                <a href="#">
                                    <div>
                                        <i class="fa fa-comment fa-fw"></i> New Comment
                                        <span class="pull-right text-muted small">4 minutes ago</span>
                                    </div>
                                </a>
                            </li>
                            <li class="divider"></li>
                            <li>
                                <a href="#">
                                    <div>
                                        <i class="fa fa-twitter fa-fw"></i> 3 New Followers
                                        <span class="pull-right text-muted small">12 minutes ago</span>
                                    </div>
                                </a>
                            </li>
                            <li class="divider"></li>
                            <li>
                                <a href="#">
                                    <div>
                                        <i class="fa fa-envelope fa-fw"></i> Message Sent
                                        <span class="pull-right text-muted small">4 minutes ago</span>
                                    </div>
                                </a>
                            </li>
                            <li class="divider"></li>
                            <li>
                                <a href="#">
                                    <div>
                                        <i class="fa fa-tasks fa-fw"></i> New Task
                                        <span class="pull-right text-muted small">4 minutes ago</span>
                                    </div>
                                </a>
                            </li>
                            <li class="divider"></li>
                            <li>
                                <a href="#">
                                    <div>
                                        <i class="fa fa-upload fa-fw"></i> Server Rebooted
                                        <span class="pull-right text-muted small">4 minutes ago</span>
                                    </div>
                                </a>
                            </li>
                            <li class="divider"></li>
                            <li>
                                <a class="text-center" href="#">
                                    <strong>See All Alerts</strong>
                                    <i class="fa fa-angle-right"></i>
                                </a>
                            </li>
                        </ul>
                        <!-- /.dropdown-alerts -->
                    </li>
                    <!-- /.dropdown -->
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            <i class="fa fa-user fa-fw"></i> <i class="fa fa-caret-down"></i>
                        </a>
                        <ul class="dropdown-menu dropdown-user">
                            <li><a href="#"><i class="fa fa-user fa-fw"></i> User Profile</a>
                            </li>
                            <li><a href="#"><i class="fa fa-gear fa-fw"></i> Settings</a>
                            </li>
                            <li class="divider"></li>
                            <li><a href="login.html"><i class="fa fa-sign-out fa-fw"></i> Logout</a>
                            </li>
                        </ul>
                        <!-- /.dropdown-user -->
                    </li>
                    <!-- /.dropdown -->
                </ul>
                <!-- /.navbar-top-links -->
    
                <div class="navbar-default sidebar" role="navigation">
                    <div class="sidebar-nav navbar-collapse">
                        <ul class="nav" id="side-menu">
                            <li class="sidebar-search">
                                <div class="input-group custom-search-form">
                                    <input type="text" class="form-control" placeholder="Search...">
                                    <span class="input-group-btn">
                                    <button class="btn btn-default" type="button">
                                        <i class="fa fa-search"></i>
                                    </button>
                                </span>
                                </div>
                                <!-- /input-group -->
                            </li>
                            <li>
                                <a href="/"><i class="fa fa-dashboard fa-fw"></i>LF1 文件管理</a>
                            </li>
                            <li>
                                <a href=" /lfcontact">
                                    <i class="fa fa-edit fa-fw"></i>工作联系单</a>
                            </li>
                            <li>
                                <a href="/lf1_note">
                                    <i class="fa fa-edit fa-fw"></i>技术通知单</a>
                            </li>
                            <li>
                                <a href="/lf1_concept_design"><i class="fa fa-bar-chart-o fa-fw"></i>概念设计文件</a>
                       
                                <!-- /.nav-second-level -->
                            </li>
                            <li>
                                <a href="/lf1_scheme_design">
                                    <i class="fa fa-bar-chart-o fa-fw"></i>方案设计文件</a>
                            
                                <!-- /.nav-second-level -->
                            </li>
    
                            <li>
                                <a href="/lf1_primary"><i class="fa fa-wrench fa-fw"></i>初步设计文件<span class="fa arrow"></span></a>
                                <ul class="nav nav-second-level">
                                    <li ng-repeat="x in systems">
                                            <a href="/proto/{{x}}">{{x}}</a>
                                    </li>
                                </ul>
                                <!-- /.nav-second-level -->
                            </li>
                            <li>
                                <a href="#">
                                    <i class="fa fa-wrench fa-fw"></i>施工图设计文件
                                    <span class="fa arrow"></span>
                                </a>
                                <ul class="nav nav-second-level">
                                    <li ng-repeat="x in systems">
                                        <a href="/const/{{x}}">{{x}}</a>
                                    </li>
                                </ul>
                                <!-- /.nav-second-level -->
                            </li>
                            <li >
                                <a href="#">
                                    <i class="fa fa-dashboard fa-fw"></i>设备管理
                                    <span class="fa arrow"></span>
                                </a>
                                        <ul class="nav nav-second-level">
                                            <li>
                                                <a href="/deviceOverview">超高温熔盐泵测试装置</a>
                                            </li>
                                            <li ng-repeat="y in systemList">
                                               <a href="/system/#{{y.system_id}}">{{y.system_name}}</a>
                                            </li>
                                        </ul>
                            </li>
    
                        </ul>
                    </div>
                    <!-- /.sidebar-collapse -->
                </div>
                <!-- /.navbar-static-side -->
            </nav>
            <div id="page-wrapper">
                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header" ng-model = "system_title">{{system_title}}</h1>
                        <div class="col-lg-2">
                            <div class="row pre-scrollable" style="max-height:436px">
                                <ul class="list-group" ng-repeat="x in deviceList">
                                    <button class="list-group-item" ng-click = "changeImg($index)">{{x.device_name}}</button>
                                    <!-- <button class="list-group-item active" onclick="onHandleChangeDevice(10)">熔盐罐</button>
                                    <button class="list-group-item" onclick="onHandleChangeDevice(0)">泵罐</button>
                                    <button class="list-group-item" onclick="onHandleChangeDevice(1)">转运罐</button>
                                    <button class="list-group-item" onclick="onHandleChangeDevice(2)">称量罐</button>
                                    <button class="list-group-item" onclick="onHandleChangeDevice(3)">泵安装接管膨胀节</button>
                                    <button class="list-group-item" onclick="onHandleChangeDevice(4)">管道</button>
                                    <button class="list-group-item" onclick="onHandleChangeDevice(5)">冷冻法兰</button>
                                    <button class="list-group-item" onclick="onHandleChangeDevice(6)">散热器</button>
                                    <button class="list-group-item" onclick="onHandleChangeDevice(7)">空冷系统</button>
                                    <button class="list-group-item" onclick="onHandleChangeDevice(8)">管路支撑件</button>
                                    <button class="list-group-item" onclick="onHandleChangeDevice(9)">初步设计</button> -->
                                </ul>   
                            </div>
                        </div>
                        <div class="col-lg-10">
                            <div class="col-lg-4" style="margin:50px 10px 10px 200px">
                                <img id="deviceImg" src="/assets/10.jpg" alt="熔盐泵台架" height="300px">
                            </div>
                            <div  class="col-lg-6">
                                    <div class="row base-margin"  id="query">
                                            <ol class="breadcrumb">
                                                <li><strong><span style="color: #27a0d7">设备参数</span></strong></li>
                                            </ol>
                                            <!-- <form class="form-inline" role="form" style="float: left; width: 100%" method="post" id="queryForm">
                                                <div class="form-group">
                                                    <label for="param_name">名称:</label> 
                                                    <input type="text" class="form-control" name="param_name" id="param_name"  placeholder="请输入名称">
                                                </div>
                                                <div class="form-group">
                                                    <button type="button" id="queryBtn" onclick="doQuery();" class="btn btn-primary">查询</button>
                                                </div>
                                                <div class="form-group btn-right">
                                                    <button type="button" class="btn btn-primary" id="addBtn" onclick="addUser();">新增参数</button>
                                                </div>
                                            </form> -->
                                        </div>
                                        <div class="container" style="width: 100%;padding:20px">
                                            <table id="demo-table">
                                            </table>
                                        </div>

                            </div>
                        </div>       
                    </div>
                </div>
            </div>
    </div>
</body>
<script src="/vendor/jquery.min.js"></script>
<script src="/vendor/bootstrap/js/bootstrap.js"></script>
<script src="/js/bootstrap-table.js"></script>
<script src="/js/bootstrap-table-locale-all.js"></script>
<script src="/vendor/angular.min.js"></script>

<script type="text/javascript">
    var app = angular.module('myApp', []);
    app.config(['$locationProvider', function($locationProvider) {  
      $locationProvider.html5Mode({
        enabled: true,
        requireBase: false
        });  
    }]);
    function doQuery(params){
     $('#demo-table').bootstrapTable('refresh');    //刷新表格
    }
 
    app.controller('myCtrl',['$scope', '$location','$http', function($scope,$location, $http) {
        var myUrl_deviceSystem = "http://localhost:3000/data/device_system?callback=JSON_CALLBACK";
        $http.jsonp(myUrl_deviceSystem).success(function(response){
           var systemList = [];
           response.forEach(function(responseE){
               systemList.push(responseE)
           })
           $scope.systemList = systemList;
       })
    
    $scope.changeImg = function (n){
        document.getElementById("deviceImg").src = `/assets/${n}.jpg`;
        var device_id = n;
        var myUrl_searchParams = 'http://localhost:3000/data/search_params/'+device_id+'?callback=JSON_CALLBACK';
        $http.jsonp(myUrl_searchParams).success(function(response){
            var paramList = [];
            response.forEach(function(responseE){
                paramList.push(responseE)
            })
            
            var newData = new Array();
            paramList.forEach(function(list){  
                newData.push({id:list.no,name:list.param_name,value:list.param_value,remark:list.remark}); 
            });
            var opt ={
                data:newData
            }
            $('#demo-table').bootstrapTable('refresh',opt);
        })
       
    }
        

        var system_id = parseInt($location.hash());
        var myUrl_searchSystem  = 'http://localhost:3000/data/search_system/' + system_id + '?callback=JSON_CALLBACK'
            $http.jsonp(myUrl_searchSystem).success(function(response){
                 $scope.system_title = response[0].system_name;
            })

        var myUrl_deviceBySystem = 'http://localhost:3000/data/device_by_system/'+system_id+'?callback=JSON_CALLBACK';
        $http.jsonp(myUrl_deviceBySystem).success(function(response){
            var deviceList = [];
            response.forEach(function(responseE){
                deviceList.push(responseE)
            })
            $scope.deviceList = deviceList;
        })
    
    // var url = "user.do?method=listUsers&random="+Math.random();
        var myUrl_paramsByDevice = "http://localhost:3000/data/params_by_device?callback=JSON_CALLBACK";
        $http.jsonp(myUrl_paramsByDevice).success(function(response){
            var paramList = [];
            response.forEach(function(responseE){
                paramList.push(responseE)
            })
            
            var data = new Array();
            paramList.forEach(function(list){  
                data.push({id:list.no,name:list.param_name,value:list.param_value,remark:list.remark}); 
            });
         
            $('#demo-table').bootstrapTable({
                locale:'zh-CN',
            // method:'POST',
            // dataType:'json',
            // contentType: "application/x-www-form-urlencoded",
            // cache: false,
            striped: true,                              //是否显示行间隔色
            // sidePagination: "server",           //分页方式：client客户端分页，server服务端分页（*）
            // url:url,
            // height: $(window).height() - 110,
            // width:$(window).width(),
            showColumns:true,
            pagination:true,
            pageSize:3,
            // queryParams : queryParams,
            // minimumCountColumns:2,
            // pageNumber:1,                       //初始化加载第一页，默认第一页
            //        pageSize: 20,                       //每页的记录行数（*）
            //       pageList: [10, 25, 50, 100],        //可供选择的每页的行数（*）
            //       uniqueId: "id",                     //每一行的唯一标识，一般为主键列
            // showExport: true,                    
            // exportDataType: 'all',
            // responseHandler: responseHandler,
            
            search: true,
            columns: [
            // {
            //     field: '',
            //             title: 'Sort No.',
            //             formatter: function (value, row, index) {
            //             return index+1;
            //      }
            // },
            {
                field : 'id',
                title : '参数ID',
                align : 'center',
                valign : 'middle',
                sortable : true
            }, {
                field : 'name',
                title : '参数名',
                align : 'center',
                valign : 'middle',
                sortable : true
            },  {
                field : 'value',
                title : '参数值',
                align : 'center',
                valign : 'middle',
                sortable : true
            }, {
                field : 'remark',
                title : '备注',
                align : 'center',
                valign : 'middle'
            }],
            data:data,
        });
        })
      
        }]);
</script>

</html>